In [41]:
import pandas as pd

In [42]:
data = pd.DataFrame(columns=list('abcdefghijk'))
for i in [1,2,3]:
    data = pd.concat([data, pd.read_csv(f'scenario_{i}.csv', names=list('abcdefghijk'))])

results = pd.DataFrame(columns=list('abc'))

In [43]:
results

Empty DataFrame
Columns: [a, b, c]
Index: []

In [44]:
for scenario in data['a'].unique():
    results.loc[scenario] = (scenario,
                             data[data['a']==scenario]['i'].mean(),
                             data[data['a']==scenario]['k'].mean())
                             
                            
results['a'] = results['a'].astype('int') # Cast to int

In [45]:
results

   a         b         c
1  1  0.009235  0.307314
2  2  0.016101  0.544066
3  3  0.009157 -0.026120

In [46]:
data.to_csv("G25_1.csv", index=None)
results.to_csv("G25_2.csv", header=None, index=None)